<div class="sessions">
  <div class="position">

    <div class="welcome_message">Welcome, Please login</div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="box">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, 'Login' %>
      </div>
      <div class="devise_links">
        <%= render 'devise/shared/links' %>
      </div>
    <% end %>

  </div>

</div>


